<%= form_with url: "/offices/#{@office.id}", method: :patch, local: true do |form|%>
<h3><%= form.label "Update Backcountry Office:" %></h3><br>
<%= form.label :name %>
<%= form.text_field :name %><br>
<%= form.label :capacity %>
<%= form.text_field :capacity %><br>
<%= form.label :first_aid, "First Aid Available:" %>
<%= form.check_box :first_aid %><br>
<%= form.submit "Update Office" %>
<% end %>
