<header>
  <nav>
    <%= link_to "All Backcountry Offices", offices_path %>
    <%= link_to "All Trails", trails_path %>
  </nav>
</header>

<h1>All Backcountry Offices</h1>

<% @offices.each do |office| %>
  <h2><a href="/offices/<%= office.id %>"><%= office.name %></a></h2>
  <p>Capacity: <%= office.capacity %></p>
  <p>First Aid Available: <%= office.first_aid %></p>
  <p>Created At: <%= office.created_at%></p>
<% end %>

<a href="/offices/new">New BackCountry Office</a>
