<header>
  <nav>
    <%= link_to "All Backcountry Offices", offices_path %>
    <%= link_to "All Trails", trails_path %>
  </nav>
</header>

<h1>All Backcountry Offices</h1>
<% @offices.each do |office| %>
<section id = "office-<%= office.id %>">
  <h2><%= link_to "#{office.name}", "/offices/#{office.id}" %></h2>
  <p>Capacity: <%= office.capacity %></p>
  <p>First Aid Available: <%= office.first_aid %></p>
  <p>Created At: <%= office.created_at%></p>
  <%= link_to "Update Office", "/offices/#{office.id}/edit" %>
  <%= link_to "Delete Office", "/offices/#{office.id}", method: :delete %>
</section>
<% end %>
<br>

<%= link_to "New BackCountry Office", "/offices/new"%>
