<header>
  <nav>
    <%= link_to "All Parks", "/parks" %>
    <%= link_to "All Programs", "/programs" %>
  </nav>
</header>

<h1><%= link_to "#{@park.name}", "parks/#{@park.id}" %>'s Programs</h1>
<% @park.order_programs_abc.each do |program| %>
  <h3>Program Name: <%= program.name %></h3>
  <p>Number of Participants: <%= program.num_of_participants %></p>
  <p>Virtual Program? <%= program.virtual %></p>
<% end %>

<p><%= link_to "Create Program", "/parks/#{@park.id}/programs/new" %></p>
