<%= form_with url: "/parks/#{@park.id}/programs", method: :post, local: true do |form|%>
<h3><%= form.label "Create New Program:" %></h3><br>
<%= form.label :name %>
<%= form.text_field :name %><br>
<%= form.label :num_of_participants %>
<%= form.text_field :num_of_participants %><br>
<%= form.label :virtual %>
<%= form.check_box :virtual %><br>
<%= form.submit "Create Program" %>
<% end %>
