<header>
  <nav>
    <%= link_to "All Parks", "/parks" %>
    <%= link_to "All Programs", "/programs" %>
  </nav>
</header>

<h1>All Parks</h1>

<% @parks.each do |park| %>
  <h2>Name: <%= park.name %></h2>
  <p>Capacity: <%= park.capacity %></p>
  <p>Permit Required? <%= park.permit_required %></p>
  <p>Created At: <%= park.created_at%></p>
<% end %>

<a href="/parks/new">New Park</a>
