<header>
  <nav>
    <%= link_to "All Parks", "/parks" %>
    <%= link_to "All Programs", "/programs" %>
  </nav>
</header>

<h1><%= @park.name %></h1>
<p>Capacity: <%= @park.capacity %></p>
<p>Permit Required: <%= @park.permit_required %></p>

<h4>Number of programs offered: <%= @park.count_programs %></h4>
<p><%= link_to "View Programs", "/parks/#{@park.id}/programs"  %></p>
<p><%= link_to "Update Park", "/parks/#{@park.id}/edit" %></p>
