<header>
  <nav>
    <%= link_to "All Backcountry Offices", "/offices" %>
    <%= link_to "All Trails", "/trails" %>
  </nav>
</header>

<section id="trail">
  <% @trails.each do |trail| %>
  <section id = "trail-<%= trail.id %>">
  <h2><%= trail.name %></h2>
  <p>Elevation Gain (feet): <%= trail.elevation %></p>
  <p>Dogs Allowed? <%= trail.dogs_allowed %></p>
  <p><%= link_to 'Update', "/trails/#{trail.id}/edit" %></p>
</section>

  <% end %>
</section>
