<header>
  <nav>
    <%= link_to "All Backcountry Offices", "/offices" %>
    <%= link_to "All Trails", "/trails" %>
  </nav>
</header>

<h1><%= @trail.name %></h1>

<p>Elevation Gain: <%= @trail.elevation %></p>
<p>Dogs Allowed? <%= @trail.dogs_allowed %></p>

<p><%= link_to "Update Trail", "/trails/#{@trail.id}/edit" %></p>
