<%= form_with url: "/offices/#{@office.id}/trails", method: :post, local: true do |form|%>
<h3><%= form.label "Create New Trail:" %></h3><br>
<%= form.label :name %>
<%= form.text_field :name %><br>
<%= form.label :elevation %>
<%= form.text_field :elevation %><br>
<%= form.label :dogs_allowed, "Dogs Allowed?" %>
<%= form.check_box :dogs_allowed %><br>
<%= form.submit "Create Trail" %>
<% end %>
